hr{
  color: #cf202a;
}

.spot{
  text-align: center;
  margin:35px 25px;
  h2{
    font-family: "Myriad Pro Light";
  }
}

.main-footer{
  background-color: #62686e;
  width: 135.5%;
  margin-left: -18%;
  color: #fff;
  padding: 15px;
  p{
    text-align: center;
    font-weight: bold;
  }
  .social{
    .face{
      img{
        width: 2%;
        margin-left: 10px;
      }
    }
    .insta{
      img{
        margin-left: 10px;
        width: 3%;
      }
    }
  }
}
