<div id="header-placeholder"></div>

  <section id="buildingcomponents">
		<div class="content-first-section">
				<h1><img src="assets/title-diag.svg" style="height: 50px;" alt="logo-svg"alt="logo-svg"alt="logo-svg">Thank You For Your Inquiry!</h1>
		</div>
	</section><br><br><br><br>

<div class="container">
  <div class="row">
    <div class="col-12" style="text-align: center;">
      <h2 style="font-family: sans-serif;">Your information has been recorded and an email has been automatically sent to you.<br><br>
        A representative will be in contact with you as soon as possible!</h2>
    </div>
  </div><br>

  <div class="d-flex justify-content-center">
    <a href="https://estimator.acero-ca.com/" class="btn btn-primary" style="font-family: sans-serif; font-size: large;">&lt; Go Back</a>
  </div><br>

  <div class="row">
    <div class="col-12" style="text-align: center;">
      <p style="font-family: sans-serif; font-size: 20px;">If you have any questions or comments, don't hesitate to <strong><a href="tel:5304585800" onclick="llamar()">Contact Us</a></strong></p>
    </div>
  </div><br>

  <div class="hr2"></div><br>

  <div class="row">
    <div class="col-12" style="text-align: center;">
      <p class="social2">
        <a href="https://www.facebook.com/AceroCABuildingComponents" target="_blank"><i class="face"> <img src="assets/facebook_black.png" alt="Facebook"></i></a>
        <a href="https://www.instagram.com/acerobuildingcomponentsca/" target="_blank"><i class="insta"> <img src="assets/instagram_black.png" alt="instagram"></i></a>
      </p> 
    </div>
  </div>
</div><br><br>

<div id="footer-placeholder"></div>