<div class="col-12">
  <h3>Online Order Estimator</h3>
</div>
<div class="rowflexformquote">
  <div class="columselectedcategory">
    <ng-select [items]="category"
           bindLabel="name"
           bindValue="id"
           placeholder="Category"
           (change)="loadProducts()"
           [(ngModel)]="currentCategory">
    </ng-select>
  </div>
  <div class="columselectedproduct">
    <ng-select [items]="products"
           bindLabel="name"
           bindValue="id"
           placeholder="Product"
           (change)="validateLength()"
           [(ngModel)]="currentProduct">
    </ng-select>
  </div>
</div>
  <div class="rowflexformquote">
    <div class="columinputlengthqty">
      <div class="input-group">
        <input
        type="number"
        min="0"
        class="form-control input-custom"
        placeholder="Length (ft.)"
        aria-label="Length (ft.)"
        [(ngModel)]="currentLength"
        [disabled]="isActive">
      </div>
    </div>
    <div class="columinputlengthqty">
      <div class="input-group">
        <input
        type="number"
        min="0"
        class="form-control input-custom"
        placeholder="Quantity"
        aria-label="Quantity"
        [(ngModel)]="currentQty">
      </div>
    </div>
    <div class="columnbuttonadd">
      <button class="btn btn-dark add" (click)="addItem()">Add</button>
    </div>
</div>
<div class="row">
  <div class="col-12" id="content-table">
    <table class="table">
      <thead>
        <th>Category</th>
          <th>Product</th>
          <th>Length</th>
          <th>Quantity</th>
          <th>Price Per Unit </th>
      </thead>
      <tbody>
        <tr *ngFor="let item of items; let i = index">
          <td>{{item.category}}</td>
          <td>{{item.product}}</td>
          <td>{{item.length}}</td>
          <td>{{item.qty}}</td>
          <td>${{completeNumber(item.unit)}}</td>
          <td><button class="btn btn-danger" (click)="deleteItem(i)" placement="top" ngbTooltip="Delete"> <i class="mdi mdi-delete"></i></button></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3"></td>
          <td><strong>Total</strong></td>
          <td><strong>${{completeNumber(total)}}</strong></td>
        </tr>
      </tfoot>
    </table>
    <br>
    <div class="col-12">
      <h5 style="text-align: center; font-size: large;">PRICES MAY BE SUBJECT TO CHANGE WITHOUT NOTICE</h5><br>
    </div>
    <form #quote="ngForm" (ngSubmit)="generateQuote(quote.value)">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-md-4 col-sm-12">
          <div class="input-group">
            <input
            type="text"
            class="form-control input-custom"
            placeholder="Name"
            aria-label="Name"
            name="name"
            ngModel>
          </div>
        </div>
        <div class="col-md-2 col-sm-12">
          <div class="input-group">
            <input
            type="text"
            class="form-control input-custom"
            placeholder="Phone"
            aria-label="Phone"
            name="phone"
            ngModel>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-md-6 col-sm-12">
          <div class="input-group">
            <input
            type="text"
            class="form-control input-custom"
            placeholder="Email"
            aria-label="Email"
            name="email"
            ngModel>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="d-flex justify-content-center">
            <button type="submit" id="send" class="btn btn-primary" [disabled]="buttonSendState" style="font-family: sans-serif; font-size: large;">Generate Quote</button>
        </div>
      </div>
    </form>
    <br><br>
  </div>

</div>
