
<div id="header-placeholder"></div>

  <section id="buildingcomponents">
		<div class="content-first-section">
				<h1><img src="assets/title-diag.svg" style="height: 50px;" alt="logo-svg"alt="logo-svg"alt="logo-svg">Building Components Estimator</h1>
		</div>
	</section>

  <section style="background-color: #c40000;">
    <p style="text-align: center; font-size: x-large; font-family: sans-serif; color: white;">$100 Rebate on Orders $1000+</p>
  </section><br>

  <section>
    <div class="container">
      <h2 style="font-size: xx-large; font-weight: bold; text-align: center;">Why Acero Building Components?</h2>
      <hr>
      <div class="row-qualityicons">
        <p style="text-align: center; color: black; font-family: sans-serif; font-size: x-large; font-weight: bold;"><img src="assets/tapeindex/company_red.png" class="img-responsive" alt="Direct Factory Pricing">
          Direct Factory Pricing<br>
        <span style="color: grey; font-size: large; font-weight: normal;">No middle man!</span>
        </p>
        <p style="text-align: center; color: black; font-family: sans-serif; font-size: x-large; font-weight: bold;"><img src="assets/tapeindex/clock_red.png" class="img-responsive" alt="Quick Lead Times">
          Quick Lead Times<br>
        <span style="color: grey; font-size: large; font-weight: normal;">48-72 hrs. processing</span>
        </p>
        <p style="text-align: center; color: black; font-family: sans-serif; font-size: x-large; font-weight: bold;"><img src="assets/tapeindex/tape_red.png" class="img-responsive" alt="Custom Sizes Available">
          Custom Sizes Available<br>
        <span style="color: grey; font-size: large; font-weight: normal;">Upon request</span>
        </p>
      </div>
    </div>

    <!-- Slider main container icons movil -->
    <div class="swiper swiper-icons-movil">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="assets/tapeindex/company_red.png" alt="Direct Factory Pricing">
          <p style="text-align: center; color: black; font-family: sans-serif; font-size: x-large; font-weight: bold;">
            Direct Factory Pricing<br>
          <span style="color: grey; font-size: large; font-weight: normal;">No middle man!</span>
          </p>
        </div>
        <div class="swiper-slide"><img src="assets/tapeindex/clock_red.png" alt="Quick Lead Times">
          <p style="text-align: center; color: black; font-family: sans-serif; font-size: x-large; font-weight: bold;">
          Quick Lead Times<br>
          <span style="color: grey; font-size: large; font-weight: normal;">48-72 hrs. processing</span>
          </p>
        </div>
        <div class="swiper-slide"><img src="assets/tapeindex/tape_red.png" alt="Custom Sizes Available">
          <p style="text-align: center; color: black; font-family: sans-serif; font-size: x-large; font-weight: bold;">
          Custom Sizes Available<br>
          <span style="color: grey; font-size: large; font-weight: normal;">Upon request</span>
          </p>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </section><br><br>

    <section>
      <div class="container">
              <div class="row spot">
                <div class="col-12">
                  <div class="d-flex justify-content-center">
                    <h2 style="font-family: sans-serif; font-size: x-large;">
                      Acero Building Components stocks a wide variety of high quality structural components fit for any 
                      Manufacturing, Renovation, or Private Construction Projects.
                      All orders are available to the public with direct factory pricing & quick production lead times!
                    </h2>
                  </div>
                </div>
              </div>
      </div>
      </section>

  <br><section>
    <div class="container">
      <hr>
      <h3>Available Metal Building Components</h3>
            
              <div class="swiper swiper-products">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img src="assets/topselling/Metal_Panel.png" alt="Colored Metal Panel"><h4 style="text-align: center;">29GA Metal Panels</h4></div>
                  <div class="swiper-slide"><img src="assets/topselling/Steel_Tubing.png" alt="Galvanized Steel Tubing"><h4 style="text-align: center;">Steel Tubing</h4></div>
                  <div class="swiper-slide"><img src="assets/topselling/Steel_Trim.png" alt="Steel Trim"><h4 style="text-align: center;">Trim</h4></div>
                  <div class="swiper-slide"><img src="assets/topselling/Colored_Screw.png" alt="Colored Screw"><h4 style="text-align: center;">Colored Screws</h4></div>
                  <div class="swiper-slide"><img src="assets/topselling/Anchors.png" alt="Metal Building Anchors"><h4 style="text-align: center;">Anchors</h4></div>
                  <div class="swiper-slide"><img src="assets/topselling/Insulation.png" alt="Insulation"><h4 style="text-align: center;">Insulation</h4></div>
                  <div class="swiper-slide"><img src="assets/topselling/Roll_Up_Door.png" alt="Roll up Doors"><h4 style="text-align: center;">Roll-up Doors</h4></div>
                  <div class="swiper-slide"><img src="assets/topselling/Automatic_Door_Opener.png" alt="Automatic Door Opener"><h4 style="text-align: center;">ATA Easy Roller</h4></div>
                  <div class="swiper-slide"><img src="assets/topselling/Walk_In_Door.png" alt="Walking in Door"><h4 style="text-align: center;">Walk-in Man Doors</h4></div>
                  <div class="swiper-slide"><img src="assets/topselling/Window.png" alt="Window"><h4 style="text-align: center;">Windows</h4></div>
                  <div class="swiper-slide"><img src="assets/topselling/Polycarbonate_Skylight_Panels.png" alt="Polycarbonate Panels"><h4 style="text-align: center;">Polycarbonate Skylight Panels</h4></div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
    </div>
  </section>

  <section class="main-content container-fluid">
    <div class="container">
      <app-step-one></app-step-one>
    </div>
  </section>

  <div id="footer-placeholder"></div>
