.spot{
  text-align: center;
  margin:35px 25px;
  h2{
    font-family: sans-serif;
  }
}
hr{
  color: #c40000;
  border: 1.2px solid #c40000;
}
.main-content{
  margin-top: 10%;
}

.card{
  border: 0px;
}
.card-body{
  text-align: center;
  h5{
    font-family: "Myriad Pro Light";
    font-size: 1.5em;
  }
}
.pt-5{
  margin-top: 25px;
}

.extra{
  transform: rotate(90deg);
}
.products{
  height: 25% !important;
  margin-top: 15%;
  img{
    margin-top: -50%;
  }
  .card-body{
    margin-top: -50%;
  }
}
.insolation{
  margin-left: 15%;
}
.main-footer{
  background-color: #62686e;
  width: 135.5%;
  margin-left: -18%;
  color: #fff;
  padding: 15px;
  p{
    text-align: center;
    font-weight: bold;
  }
  .social{
    .face{
      img{
        width: 2%;
        margin-left: 10px;
      }
    }
    .insta{
      img{
        margin-left: 10px;
        width: 3%;
      }
    }
  }
}