/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import "~@ng-select/ng-select/themes/material.theme.css";

@import "~@mdi/font/css/materialdesignicons.min.css";


/******************************************
ESTILO PARA HACER QUE LOS LINKS NO SE VEAN AZULES SINO ROJOS
******************************************/
a {
    text-decoration: none;
    color: inherit;
  }

a:hover{
  color:#c40000;
}

/******************************************
CLASE PARA HACER LAS IMAGENES RESPONSIVAS
******************************************/
  .img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}

/******************************************
CLASE QUITA MARGENES AL CONTAINER EN MOVIL Y NO SE VEAN ESPACIOS BLANCOS A LOS LADOS
******************************************/
@media screen and (max-width: 768px) {
  .container{
    margin: 0;
    padding: 0;
  }
}

/******************************************
BOTON PRIMARY
******************************************/ 
.btn-primary {
  border-color: #c40000;
  background-color: #c40000;
  box-shadow: inset 0 0 0 0 #ff0404;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
}


.btn-primary:hover {
  color: #ffffff !important;
  box-shadow: inset 0 100px 0 0 #bd0000;
  border-color: #ff0202;
  background-color: #ff0202;
}

/******************************************
COLORS ICON PHONE Y MAIL TO RED
******************************************/ 
.header{
  height: auto;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

.header i.fa-phone,
.header i.fa-envelope,
.header i.fa-map-marker {
color: #c40000;
}

.header a:hover{
color: red;
text-decoration: none;
}

/******************************************
TOP BAR WITH DATA COMPANY
******************************************/
.topbar {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 164px;
}

.topbar a {
  color: white;
  font-size: 15px;
  font-family: "Open Sans";
}

.topbar a:hover {
  color: red;
  text-decoration: none;
}

.topbar i {
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 1000px){
  .topbar {
      text-align: center;
      margin-left: 20px;
  }

  .topbar i {
      margin-left: 0px;
  }
}

/******************************************
NAVBAR
******************************************/
.nav2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans";
  background-color: transparent;
  transition: background-color 0.3s;
}

.nav2.opaque {
  background-color: rgba(128, 128, 128, 0.9);
}

.logo-bar img{
  width: 125px;
  height: 37px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 150px;
}

.icono-blog{
  color: white;
}

.nav-link2{
  color: white;
}

.nav-menu2{
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  margin-right: 150px;
}

.nav-menu-item{
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  margin: 0 20px;
  width: max-content;
}

.nav-toogle{
  color: rgba(128, 128, 128, 0.9);;
  background: none;
  border:none;
  font-size: 30px;
  padding: 0 20px;
  cursor: pointer;
  display: none;
}

.dropdown .dropdown-menu {
  border-radius: 15px;
  border-top: 3px solid #ddd;
  background-color: #fff !important;
}

.hassubmenu:hover>ul {
  visibility: visible;
  opacity: 1;
  top: 70%;
}

.hassubmenu>ul{
  position: absolute;
  top: 160%;
  visibility: hidden;
  display: block;
  opacity: 0;
}

.hassubmenu li a {
  transition: transform 0.3s;
  font-size: 15px;
  font-family: "Open Sans";
  color: grey;
  margin: 15px;
}

.hassubmenu li a:hover {
  color: red;
  transform: translateX(10px);
}

.dropdown .dropdown-menu {
  border-top-color: #cf0101;
  border-radius: 10px;
  padding: auto;
  align-items: center;
}

@media (max-width: 1000px) {
  .nav2{
      justify-content: space-between;
  }

  .logo-bar img{
      margin-left: 10px;
  }

  .nav-menu2{
      margin-right: 0px;
      flex-direction: column;
      background-color: rgba(128, 128, 128, 0.9);;
      position: fixed;
      left: 0;
      top: 110px;
      width: 100%;
      padding: 0;
      height: calc(100% - 110px);
      overflow-y: auto;
      left: 100%;
      transition: left 0.3s;
  }
  
  .nav-menu-item{
      font-size: 15px;
      line-height: 70px;
  }
  
  .nav-toogle{
      display: block;
  }

  .nav-menu_visible{
      left: 0;
  }

  .nav-toogle:focus:not(:focus-visible){
      outline: none;
  }
}

/******************************************
FOOTER ACERO
******************************************/
.footerrowflexacero{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 20px;
}

.listoptionsfooter{
  list-style: none;
  display: flex;
}

.footerrowflexacero a {
  color: white;
  font-size: 17px;
  font-family: "Open Sans";
}

.footerrowflexacero a:hover{
  color: red;
  text-decoration: none;
}

.listoptionsfooter a:hover{
  color: red;
  text-decoration: none;
}

.footerrowflexacero i{
  margin-right: 10px;
}

.hr5 {
  border: none; 
  height: 2px;
  background-color: white; 
  width: 100%;
  margin: 0 auto; 
}

.hr6 {
  display: none;
}

.footerrowflexacero2mobile{
  display: none;
}

.footerrowflexacero2web{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.socialfootermedialinks{
  margin-top: 15px;
}

.copyrightfooter p{
  text-align: center;
  color: white;
  font-size: 15px;
  font-family: "Open Sans";
  margin-top: 20px;
}

.logoacerofooter{
  margin-top: 15px;
}

@media screen and (max-width: 770px){
  .footerrowflexacero{
      flex-direction: column;
      margin-top: 10px;
  }

  .listoptionsfooter{
      flex-direction: column;
      margin-top: 15px;
      margin-bottom: 20px;
  }

  .footerrowflexacero i{
     margin-top: 20px;
     margin-bottom: 0;
  }

  .listoptionsfooter a{
      margin-right: 0px;
  }

  .hr5{
      display: none;
  }

  .hr6{
      display: block;
      border: none; 
      height: 2px;
      background-color: #8f8f8f; 
      width: 100%;
     
    }
  
  .footerrowflexacero2web{
     display: none;
  }

  .footerrowflexacero2mobile{
      display: block;
      margin-bottom: 40px;
  }

  .logoacerofootermobile{
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
  }
}

  /******************************************
BACKGROUND DESPUES DEL HEADER
******************************************/
#buildingcomponents {
  background-image: url("assets/Fork_Lift_Lifting_Tubing_Dark.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh; /* Ajuste para que ocupe toda la pantalla */
}

.content-first-section {
  text-align: center; /* Centra el contenido verticalmente */
  padding-top: 29vh; /* Ajusta el espacio desde arriba */
  color: white;
  font-family: "Open Sans";
}

.content-first-section h1 {
  font-size: 55px;
  font-weight: bold;
}

.hr4{
  border: none; 
          height: 2px;
          background-color: #c40000; 
          width: 45%;
          margin: 0 auto; 
}

/******************************************
MARK PARA EL TEXTO
******************************************/
mark {
    border-color: #c40000;
    background-color: #c40000;
    box-shadow: inset 0 0 0 0 #c40000;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    color: white;
    border-radius: 5px;
    padding: 10px 5px;
}

/******************************************
FILA PARA ICONOS
******************************************/
.row-qualityicons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-qualityicons img{
  width: 35%;
  margin-left: 120px;
}

@media (max-width: 820px) {
  .row-qualityicons img{
    margin-left: 75px;
  }
}

/******************************************
CAMBIO DE TEXTO DEPENDIENDO DE LA RESOLUCION
******************************************/
h3 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 27px;
  }
  
  /* Estilo para pantallas más grandes */
  @media screen and (min-width: 768px) {
    .responsive-text::before {
      content: "Top Selling ";
    }
  }
  
  @media screen and (max-width: 767px) {
    .responsive-text::before {
      content: "";
    }
  
    .responsive-text::after {
      content: " We Offer";
    }
  }

  /******************************************
CARRUSEL DE PRODUCTOS RESOLUCION WEB
******************************************/
.swiper-products{
  width: 100%;
}

.swiper-products img {
   width: 100%;
    height: auto;
}

.swiper-products .swiper-button-prev,
.swiper-products .swiper-button-next{
  color: #c40000;
}

.swiper-products .swiper-button-prev{
  left: 0px;
}

.swiper-products .swiper-button-next{
  right: 0px;
}

.swiper-products .swiper-pagination{
  --swiper-pagination-color: #c40000;
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: rgba(0,0,0,0.25);
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-border-radius: 50%;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

.swiper-icons-movil{
  display: none;
}

@media screen and (max-width: 768px) {
  .swiper-products{
    text-align: center;
    width: 100%;
    img{
      width: 50%;
      height: auto;
    }
  }

  .swiper-products .swiper-button-prev{
    left: 10px;
  }
  
  .swiper-products .swiper-button-next{
    right: 10px;
  }

  .row-qualityicons{
    display: none;
  }

.swiper-icons-movil{
  display: block;
}

.swiper-icons-movil{
  text-align: center;
  width: 100%;
  img{
    width: 50%;
    height: auto;
  }
}

.swiper-icons-movil .swiper-button-prev,
.swiper-icons-movil .swiper-button-next{
color: #c40000;
}
}

/******************************************
TABLES AND FORMS FOR QUOTE
******************************************/
.ng-select.ng-select-focused .ng-select-container:after{border-color:#cf202a;border-width:2px}
.ng-select.ng-select-focused .ng-select-container .ng-value-container .ng-placeholder{color:#cf202a}
.ng-select .ng-arrow-wrapper .ng-arrow {color:#cf202a}
.ng-select.ng-select-focused .ng-select-container .ng-arrow-wrapper .ng-arrow{color:#cf202a}

.rowflexformquote{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.columselectedcategory{
  flex: 1;
  margin-right: 20px;
  font-size: 16px;
}

.columselectedproduct{
  flex: 1;
  margin-right: 20px;
  font-size: 16px;
}

.columinputlengthqty{
  flex: 1;
  margin-right: 20px;
}

.input-custom {
  font-size: 16px;
  border: none; /* Elimina todos los bordes */
  border-bottom: 1px solid #ccc; /* Añade solo el borde inferior */
  border-radius: 0; /* Asegura que no haya esquinas redondeadas */
  box-shadow: none; /* Elimina cualquier sombra de la caja */
}

.input-custom:focus {
  box-shadow: none;
  border-bottom: 1px solid #cf202a; /* Cambia el color del borde inferior al hacer foco */
  outline: none; /* Elimina el outline del foco */
}

.columnbuttonadd {
  flex: 1;
  margin-left: 20px;
}

.add{
  min-width: 90px;
  height: 40px;
  font-weight: bold;
  border-radius: 2px;
  font-size: 17px;
}

#content-table{
  margin-top: 5%;
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
}

#create{
  border-radius: 2px;
  margin-top: 5%;
}

@media screen and (max-width: 768px) {
  .rowflexformquote{
    flex-direction: column;
  }

  .columselectedcategory{
    width: 98%;
    margin-right: 0px;
  }

  .columselectedproduct{
    width: 98%;
    margin-right: 0px;
  }

  .columinputlengthqty{
    width: 98%;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 15px;
  }

  .columnbuttonadd{
    margin-top: 15px;
    margin-left: 0px;
    margin-bottom: 25px;
  }
}

/******************************************
SECCION THANK YOU PAGE
******************************************/

  .hr2{
    border: none; /* Sin bordes */
            height: 2px; /* Altura de la línea */
            background-color: black; /* Color negro */
            width: 75%; /* Ancho personalizado, puedes ajustarlo */
            margin: 0 auto; 
  }

  .social2{
    .face{
      img{
        width: 4.2%;
        margin-left: 15px;
      }
    }
    .insta{
      img{
        margin-left: 15px;
        margin-bottom: 3px;
        width: 5%;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .hr2{
        border: none; /* Sin bordes */
                height: 2px; /* Altura de la línea */
                background-color: black; /* Color negro */
                width: 80%; /* Ancho personalizado, puedes ajustarlo */
                margin: 0 auto; 
      }

    .social2{
        .face{
          img{
            width: 8.2%;
            margin-left: 15px;
            margin-bottom: 1px;
          }
        }
        .insta{
          img{
            margin-left: 15px;
            width: 9.6%;
          }
        }
      }
  }